{"hash":"17dc767e7c16c82739ab49c5ff4dd0a6"}


html{
	background: url(/assets/images/nice.jpg) repeat;
	font-family: Tahoma, Geneva, sans-serif;
}
footer{
	background: linear-gradient(to right, #e34986, #4884E4 33%);
	color: #efefef;
}
header, nav{
	background: linear-gradient(to right, #4884E4 65%, #e34986 95%);
	color: #ffffff;
}