<!doctype html>
<html class='no-js'>
<head>
	<?php echo $this->renderTitle("NomadPhp"); ?>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<?= $this->renderCss();?>
</head>
<body>
<header><?= $this->header?></header>
<nav><?= $this->navigation?></nav>
<section><?= $this->content?></section>
<footer><?= $this->footer?></footer>
</body>
</html>
